<div class="adminWrapper">




<div class="EditServices">

    <a class="opretTxt" href="/add-service">Opret Service</a>


    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Problem</th>
            <th scope="col">Årsag</th>
            <th scope="col">Forbedring</th>
            <th scope="col">Handling</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let problem of problems">
            <td>{{problem.serviceProblem}}<a href="" routerLink="/update/{{problem._id}}" style="margin-left: 15px;"><i class="far fa-edit"></i></a></td>
            <td>{{problem.causes[0]?.name}}<a href="" routerLink="/update/{{problem.causes[0]?._id}}" style="margin-left: 15px;"><i class="far fa-edit"></i></a></td>
            <td>{{problem.solutions[0]?.name}}<a href="" routerLink="/update/{{problem.solutions[0]._id}}" style="margin-left: 15px;"><i class="far fa-edit"></i></a></td>
            <td>
                
                
                <a href="" routerLink="/admin" (click)="openAlert()"><i (click)="deleteService(problem._id)" class="fas fa-times" style="padding-left: 35px;"></i></a>

              </td>
            
          </tr>

          

        </tbody>


      </table>


</div> 


</div>
    
