.adminWrapper{
    width: auto;
    height: 100vh;
    position: relative;
}

.EditServices{
    width: 70%;
    height: 600px;
    background-color: rgb(206, 164, 109);
    margin: 0 auto;  
    margin-top: 50px;
    overflow: scroll;
}
.opretTxt{
    text-decoration: none;


}
table{
    margin: 0 auto;
    width: 95%;
}