<div class="wrapper">



    <div class="serviceContent">
   
       <h2 class="serviceTxt">Opret Problem</h2>
   
       <form action="" class="CreateForm" [formGroup]="createForm" (ngSubmit)="createService()">
   
           <input type="text" class="CreateProblem" placeholder="Problem" formControlName="serviceProblem"  required>
   
           <button type="submit" class="CreateService">Opret Problem</button>
   
       </form>

       <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="problemAlert">
        <strong>Problem er blevet Oprettet!</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
   
   
   </div>

   <div class="causeContent" >
        <h2 class="serviceTxt">Opret Årsag</h2>
    
        <form action="" class="CreateForm" [formGroup]="createCause" (ngSubmit)="createCauses()">

            <select name="" id="red" formControlName="selectCause">
                <option id="" value="" selected>Vælg problem til årsag</option>
                <option id=""  *ngFor="let problem of problems" [value]="problem._id">{{problem.serviceProblem}}</option>
            </select>

            <div formArrayName="name">

                <div>
                    <button type="button" class="CreateService " (click)="addCauseArray()">Tilføj årsag</button> 
                </div>

                <div *ngFor="let arr of causeControls; let i = index">
                    <input type="text" class="CreateCause" [formControlName]="i" placeholder="Årsag" />

                </div>

            </div>

          <!--  <input type="text" class="CreateCause" placeholder="Årsag" formControlName="name"  required>-->
            

            <button type="submit" class="CreateService">Opret Årsag</button>
            

        </form>

        <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="causeAlert">
            <strong>Årsag er blevet Oprettet!</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

   </div>

   <div class="solutionContent">
        <h2 class="serviceTxt">Opret Forbedring</h2>
        
        <form action="" class="CreateForm" [formGroup]="createSolution" (ngSubmit)="createSolutions()">

            <select name="" id="" formControlName="selectSolution">
                <option id="" value="" selected>Vælg problem til forbedring</option>
                <option id="" *ngFor="let problem of problems" [value]="problem._id">{{problem.serviceProblem}} </option>
            </select>

            <div formArrayName="name">

                <div>
                    <button type="button" class="CreateService " (click)="addSolutionArray()">Tilføj Forbedring</button> 
                </div>

                <div *ngFor="let arr of solutionControls; let i = index">
                    <input type="text" class="CreateCause" [formControlName]="i" placeholder="Forbedring" />

                </div>

            </div>

            <button type="submit" class="CreateService">Opret Forbedring</button>

        </form>

   </div>

</div>