.wrapper{
    width: auto;
    height: 100vh;
    position: relative;
}
.serviceContent{
    width: 30%;
    height: 400px;
    background-color: burlywood;
    top: 50px;
    left: 3.3%;
    overflow: auto;
    position: absolute;
}

.causeContent{
    width: 30%;
    height: 420px;
    background-color: turquoise;
    position: absolute;
    left: 35%;
    top: 50px;
    overflow: scroll;
}
.solutionContent{
    width: 30%;
    height: 420px;
    background-color: turquoise;
    position: absolute;
    left: 67%;
    top: 50px;
    overflow: scroll;
}

::placeholder{
    text-align: center;
}
.CreateForm{
    display: block;
}
.serviceTxt{
    font-size: 23px;
    margin-top: 50px;
    margin-left: 15%;
}
.CreateProblem{
    display: flex;
    width: 70%;
    height: 40px;
    margin: 0 auto;
    border: none;
    margin-top: 80px;
    outline: none;
    border-radius: 7px;
    text-align: center;
}
.CreateCause{
    display: flex;
    width: 70%;
    height: 40px;
    margin: 0 auto;
    border: none;
    outline: none;
    border-radius: 7px;
    margin-top: 30px;
}
.CreateSolution{
    margin-top: 30px;
    display: flex;
    width: 70%;
    height: 40px;
    margin: 0 auto;
    border: none;
    outline: none;
    border-radius: 7px;
    margin-top: 30px;
}
.CreateService{
    width: 150px;
    height: 40px;
    margin-left: 15%;
    margin-top: 30px;
    border: none;
    border-radius: 7px;
    background-color: slateblue;
}

select{
    width: 70%;
    height: 40px;
    margin-left: 15%;
    margin-top: 30px;
    outline: none;
    border: none;
    border-radius: 7px;
}
option{
    text-align: center;
}

.alert{
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
}
.close{
    border: none;
    background-color: transparent;
    float: right;
    
}